{% extends "shop/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
   <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">Product</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                    <td class="col-sm-1 col-md-3 text-center"><strong>{{ item.item_id.item_name }}</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.quantity_per_item }}</strong>
                        {% buttons %}
                            <button type="button" class="btn btn-success btn-product">
                                Update
                            </button>
                        {% endbuttons %}
                    </td>
                    <td class="col-sm-1 col-md-3 text-center"><strong>${{ item.price }}</strong></td>
                    <td class="col-sm-1 col-md-3 text-center"><strong>${{ item.total_price }}</strong></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        {% buttons %}
                            <button type="submit" class="btn btn-success btn-product">
                                Remove
                            </button>
                        {% endbuttons %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-10 col-md-offset-5">
          {% buttons %}
            <button type="button" class="btn btn-success btn-product">
            Check
            </button>
        {% endbuttons %}
    </div> 

{% endblock %}
