{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Payment{% endblock %}</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
<div class="container">
{% block content %}
<div class="page-header">
  <h2>Payment</h2>
</div>

  <form  action="{% url "order:detail" %}"  method="post">
    {% csrf_token %}
    {% bootstrap_form PayForm %}
    <p align="middle">
    <button type="submit">Next</button>
  </p>
  </form>
{% endblock %}
</div>
</body>
</html>