{% extends "shop/base.html" %}
{% load staticfiles %}

{% block title %}
        Inventories
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2>Products</h2>
            <div class="row">
                {% for inventory in inventories %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="{{ inventory.get_absolute_url}}">
                            <img src="{% static "img/no_image.png" %}">
                            </a>
                            <a href="{{ inventory.get_absolute_url}}">
                                <b> {{inventory.item_name}} </b>
                            </a>
                            ${{ inventory.price }}
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>


    </div>
{% endblock %}
